pre {
	display: block;
	padding: 8px 15px;
	margin: 0 0 12px;
	font-size: 12px;
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-weight: bold;
	line-height: 18px;
	background-color: #272822;
	border: 1px solid #0d0d0c;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
}

pre.prettyprint {
	margin-bottom: 24px;
}

pre code {
  padding: 0;
  background-color: transparent;
}

.com {
	color: #93a1a1;
}

.lit {
	color: #ac82ff;
}

.pun,
.opn,
.clo {
	color: #8f8880;
}

.fun {
	color: #dc322f;
}

.str,
.atv {
	color: #e6db74;
}

.kwd {
	color: #f12771;
}

.typ,
.atn,
.dec,
.var {
	color: #65d9ef;
}

.pln {
	color: #f3f3f3;
}

.prettyprint {
	padding: 8px 15px;
	background-color: #272822;
	border: 1px solid #0d0d0c;
}
