body {
  background: white url(../img/documenation-background.jpg) top center; }

h1, h2, h3, h4, h5, h6, p {
  margin-left: 0;
  margin-right: 0; }

.content {
  float: left;
  display: inline-block;
  width: 700px;
  padding: 33px 10px 40px 19px;
  border-right: 0; }
