/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main */
body {
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fff;
	color: #131318;
	line-height: 1.5em;
}

p {
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 18px;
	line-height: 1.2em;
	margin-bottom: 12px;
}

h2 {
	line-height: 1.3em;
	margin-bottom: 8px;
}

h3 {
	line-height: 1.4em;
	margin-bottom: 8px;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #326699;
}

.container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.button {
	display: inline-block;
	color: #5a5e66;
	font-weight: bold;
	padding: 8px 12px;
	border-radius: 3px;
	border: 1px solid #d0d2d5;
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #fff, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#efefef));
	background-image: -webkit-linear-gradient(top, #fff, #efefef);
	background-image: -o-linear-gradient(top, #fff, #efefef);
	background-image: linear-gradient(to bottom, #fff, #efefef);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
}

.button:hover {
	background: #efefef;
}

/* Content */
.content {
	margin-top: 20px;
	background-color: #fcfcfc;
}

	.content h1 {
		display: inline-block;
	}

	.content .list {
		overflow: hidden;
	}

	.content p.list-touched {
		font-size: 11px;
		color: #888;
		margin-top: 5px;
	}

	.content ul.lists {
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
	}

		.content ul.lists li {
			border-top: 1px solid #ddd;
			background-color: #f6f6f6;
			background-image: -moz-linear-gradient(top, #fff, #f6f6f6);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f6f6f6));
			background-image: -webkit-linear-gradient(top, #fff, #f6f6f6);
			background-image: -o-linear-gradient(top, #fff, #f6f6f6);
			background-image: linear-gradient(to bottom, #fff, #f6f6f6);
		}

		.content ul.lists li:hover {
			background: #fff;
		}

			.content ul.lists li a {
				display: block;
				padding: 15px 10px;
				color: #555;
			}

	.content .pagination {
		margin: 0;
		padding: 15px 0 10px 0;
		border: 1px solid #ddd;
		border-bottom: 0;
		text-align: center;
	}

	.content .controls-top {
		padding: 10px;
		border: 1px solid #ddd;
		border-bottom: 0;
	}

		.content .controls-top .form-search {
			display: inline-block;
			float: right;
		}

		.content .controls-top a {
			display: inline-block;
			float: left;
			font-weight: normal;
		}

	.content .form-horizontal {
		margin-left: 200px;
	}

	.content .form-horizontal h1 {
		margin-left: 180px;
	}

	.content .form-horizontal .controls span {
		margin-left: 10px;
	}

.content.bordered {
	padding-top: 30px;
	border: 1px solid #ddd;
	border-bottom: 0;
}

/* Hero */
.hero {
	padding: 40px 0 20px 0;
	background-color: #fafafa;
	border-bottom: 1px solid #e3e3e3;
}

	.hero h1 {
		display: inline-block;
		float: left;
		margin: 0;
		font-size: 16px;
	}

	.hero h1 a {
		color: #131318;
	}

	.hero ul.info {
		float: right;
		margin-top: 2px;
	}

		.hero ul.info li {
			float: left;
			padding-left: 23px;
			margin-left: 20px;
			font-size: 14px;
			line-height: 14px;
			font-weight: bold;
		}

		.hero ul.info li.watch {
			background: url(../img/eye_16x12.png) top left no-repeat;
		}

		.hero ul.info li.count {
			background: url(../img/list_16x14.png) top left no-repeat;
		}

/* Master */
.master {
	background: #fff;
}

	.master h2 {
		margin: 20px 0 40px 0;
		font-size: 24px;
		text-align: center;
	}

	.master .master-button {
		margin-bottom: 20px;
		padding: 10px;
		background: #fafafa;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		text-align: center;
	}

		.master .master-button .btn {
			margin-right: 10px;
		}

	.master .master-preview {
		background: #fff;
	}

	.master .master-preview img {
		margin-top: 40px;
	}

	.master h3 {
		font-size: 16px;
	}

/* Header */
.header {
	background-color: #202225;
}

	.header h1 {
		display: inline-block;
		float: left;
		margin: 8px 0;
		width: 101px;
		height: 28px;
		background: url(../img/logo.png);
		text-indent: -9999px;
	}

	.header ul.navigation {
		display: inline-block;
		float: right;
	}

		.header ul.navigation > li {
			float: left;
		}

			.header ul.navigation li a {
				display: inline-block;
				padding: 13px 15px;
				color: #d9dce0;
				border-left: 1px solid #41444a;
			}

			.header ul.navigation li:last-child a {
				border-right: 1px solid #41444a;
			}

			.header ul.navigation li a:hover {
				background-color: #2a2d30;
				color: #fff;
			}

			.header ul.navigation li span.count {
				display: inline-block;
				padding: 2px 6px;
				margin-left: 8px;
				line-height: 12px;
				color: #aaa;
				background-color: #383a3e;
				border: 1px solid #1c1d1f;
				border-radius: 3px;
			}

		.header ul.navigation li.notification {
			position: relative;
		}

			.header ul.navigation li.notification ul {
				position: absolute;
				z-index: 102;
				top: 54px;
				left: -50%;
				width: 198px;
				margin-left: 10px;
				padding: 10px 20px;
				background-color: #fff;
				border: 1px solid rgba(0,0,0,.2);
				box-shadow: 0 4px 12px rgba(0,0,0,.14);
			}

				.header ul.navigation li.collection {
					font-weight: bold;
					margin: 5px 0 8px 0;
				}

				.header ul.navigation li.collection:first-child {
					margin-top: 0;
				}

				.header ul.navigation li.notification ul a {
					display: inline;
					padding: 0;
					color: #111;
					border: 0;
				}

/* Meta */
.meta {
	display: inline-block;
	float: left;
	width: 620px;
	margin-top: 40px;
}

/* List Top */
.list-top {
	position: relative;
	display: block;
	border-top: 1px solid #d0d2d5;
	border-left: 1px solid #c4c6ca;
	border-right: 1px solid #c4c6ca; 
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #fff, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#efefef));
	background-image: -webkit-linear-gradient(top, #fff, #efefef);
	background-image: -o-linear-gradient(top, #fff, #efefef);
	background-image: linear-gradient(to bottom, #fff, #efefef);
	box-shadow: 0 1px 4px rgba(0,0,0,0.15);
	text-shadow: 0 1px 0 #fff;
}

	.list-top ul.filters {
		float: right;
		display: inline-block;
		border-left: 1px solid #fff;
	}

		.list-top ul.filters li {
			float: left;
		}

			.list-top ul.filters li a {
				display: inline-block;
				padding: 15px 10px;
				color: #666;
				border-left: 1px solid #d3d3d3;
				border-right: 1px solid #fff;
			}

			.list-top ul.filters li:last-child a {
				border-right: 0;
			}

			.list-top ul.filters li a:hover {
				background-color: #f6f6f6;
			}

	.list-top h1 {
		display: inline-block;
		float: left;
		margin: 0;
		font-size: 14px;
		padding: 17px 10px;
	}

	.list-top h1 a {
		color: #25282b;
	}

	.list-top a.list-watch {
		float: left;
		margin: 9px 10px;
		padding: 5px 8px;
	}

	.list-top a.watching {
		box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
		background: #e8e8e8;
	}

	.list-top a.watching span {
		display: inline-block;
		line-height: 12px;
		padding-left: 20px;
		background: url(../img/eye_16x12.png) top left no-repeat;
	}

/* Task List */
.tasks {
	padding: 0;
	margin: 0;
}

	.tasks ul.tasks-list {
		background-color: #fafafa;
		border: 1px solid #c6cbcf;
		border-top: 1px solid #bfc3c6;
	}

	.tasks .loading {
		display: block;
		width: 220px;
		height: 19px;
		margin: 40px auto;
		background: url(../img/ajax-loader.gif) top left no-repeat;
	}

	.tasks li {
		padding: 0 10px;
		border-bottom: 1px solid #e6eaed;
		background-color: #fff;
		list-style: none;
	}

	.tasks li:nth-child(odd) {
		background-color: #fcfcfc;
	}

	.tasks li:last-child {
		border-bottom: 0;
	}
	
	.tasks li.open {
		background-color: #f5f8fa;
	}

		.tasks li .task-content {
			margin: 0 0 0 25px;
			border-left: 1px solid #e6eaed;
		}

		.tasks .task-text {
			cursor: pointer;
		}

			.tasks li.open .task-text {
				cursor: auto;
			}

		.tasks li .details {
		display: none;
		}

		.tasks li.open .details {
			display: block;
		}

		.tasks li input.edit-field {
			width: 80%;
			border: 0;
			margin: 0;
			outline: 0;
			color: #131318;
			background: transparent;
		}

		.tasks li span.title,
		.tasks li input.edit-field {
			display: inline-block;
			padding: 14px 0 14px 10px;
			font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
		}

		.tasks li input.edit-field {
			display: none;
		}

		.tasks li a.delete {
			display: inline-block;
			opacity: .1;
			margin-top: 16px;
			width: 11px;
			height: 11px;
			float: right;
			background: url(../img/delete.png);
			text-indent: -9999px;
		}

		.tasks li a.delete:hover,
		.tasks li.open a.delete:hover {
			opacity: 1;
		}

		.tasks li.open a.delete {
			opacity: 0.2;
		}

		.tasks li.editing input.edit-field {
			display: inline-block;
		}

		.tasks li.editing span.title {
			display: none;
		}

		.tasks li .check-complete {
			position: relative;
			top: 12px;
		}

		.tasks li .check-complete input[type=checkbox] {
			display: none
		}

		.tasks li .check-complete label {
			position: absolute;
			top: 0;
			cursor: pointer;
			width: 18px;
			height: 16px;
			background: url(../img/checkmate.png) 0 0 no-repeat;
		}

		.tasks li .check-complete input[type=checkbox]:checked + label {
			background: url(../img/checkmate.png) 0 -16px no-repeat;
		}

		.tasks li .details {
			margin-left: 10px;
			border-top: 1px solid #e6eaed;
			line-height: 10px;
		}

			.tasks li .details span.username,
			.tasks li .details span.time {
				display: inline-block;
				float: left;
				margin: 10px 10px 10px 0;
				color: #888;
				font-size: 11px;
			}

			.tasks li .details .actions {
				display: inline-block;
				float: right;
			}

			.tasks li .details .actions span:last-child {
				border-right: 0;
				padding-right: 0;
			}

			.tasks li .details .actions span {
				display: inline-block;
				float: left;
				margin: 10px 0 10px 10px;
				padding-right: 10px;
				border-right: 1px solid #999;
				color: #326699;
				cursor: pointer;
			}

	.tasks span.tasks-length {
		display: block;
		padding: 3px 0;
		text-align: center;
		font-size: 11px;
		color: #a1a1a1;
		background-color: #f2f2f2;
		border-bottom: 1px solid #ddd;
		text-shadow: 0 1px 0 #fff;
	}

/* Task Form */
form.create-task {
	padding: 30px 10px;
	height: 36px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

	form.create-task input[type="text"] {
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: calc(100% - 120px);
		color: #5a5e66;
		padding: 10px;
		height: 36px;
		border: 1px solid #d3d3d3;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		box-shadow: 0 1px 4px rgba(0,0,0,.1) inset;
		font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
		outline: 0;
	}

	form.create-task input[type="submit"] {
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 120px;
		height: 36px;
		line-height: 14px;
		border-left: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		padding: 10px 15px 11px 15px;
	}

/* Footer */
.footer {
	padding: 10px;
	border-top: 1px solid #ddd;
}

	.footer h2 {
		display: inline-block;
		float: left;
		color: #444;
		font-size: 18px;
	}

	.footer ul.footer-navigation {
		display: inline-block;
		float: right;
	}

		.footer ul.footer-navigation li {
			display: inline-block;
			float: left;
		}

			.footer ul.footer-navigation li a {
				color: #666;
				font-weight: normal;
			}

			.footer ul.footer-navigation li span {
				display: inline-block;
				margin: 0 5px;
				color: #aaa;
			}
